*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}

/* nav */

nav {
    background-color: rgba(127, 193, 255, 0.705);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid black;
    position: sticky;
    top: 0px;
    max-height: 60px;
}

.logocontainer {
    display: flex;
    align-items: center;
}

.logo {
    height: 60px;
    box-shadow: 2px 2px whitesmoke;
    border-radius: 50%;
}

.pagine{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagine li{
    padding-left: 80px;
    list-style: none;
}

.social {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbaricons {
    max-height: 40px;
}

/* Header */

header {
    height: 100vh;
    background-image: url(media/header.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headercard {
    height: 20vh;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.35);
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imaginami {
    max-height: 18vh;
    border-radius: 50px;
    margin-right: 10px;
    box-shadow: 1px 1px rgba(107, 98, 98, 0.418);
}

.TitoloHeader {
    color: navy;
    font-size: 2em;
    text-shadow: 2px 2px rgb(3, 3, 212);
}

.SottotitoloHeader {
    color: darkgreen;
    font-size: 1.5em;
    text-shadow: 2px 2px rgb(1, 58, 1);
}

/* cards */
.Cardsection {
    border-top: 20px solid black;
    border-bottom: 20px solid black;
    background-color: white;
}

.cardisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

.titolocardsection {
    font-size: 2em;
    text-align: center;
}

.Cards1,.Cards2,.Cards3,.Cards4,.Cards5{
    height: 35vh;
    color: whitesmoke;
    background-position: center;
    background-size: cover;
    border: 3px solid black;
    border-radius: 0px 20px 30px 50px;
    margin: 10px;
    box-shadow: 2px 2px blue;
    text-align: center;
    box-sizing: border-box;
    word-wrap: break-word;
    display: inline-block;
    flex: 1 1 25%;
    max-width: 25%;
    flex-wrap: wrap;
}

.sfumatura{
    height: 100%;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.644) 27%, rgba(255,255,255,0) 100%);
    border-radius: 0px 20px 30px 50px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    text-align: center;
}

.giochidatavolo{
    background:linear-gradient(0deg, #D9E5D6 27%, #F7A072 100%);
display: flex;
text-align: center;
align-items: center;
justify-content: center;
flex-direction: column;
}

.containerarticolo{
    height: 50%;
    width: 80%;
background-color: #EDDEA4;
border: 2px solid F9CECE;
border-radius: 45px;
}

div h1,h2{
color: #0FA3B1;
}

.articolosezione{
    color: rgba(16, 204, 221, 0.801);
    display: flex;
    flex-direction: column;
}
.articolosezione li{
    width: 90%;
    list-style: disc;
    margin: 10px 0px 10px 30px;
}

.Cards1 {
    background-image: url(media/gdt2.png);
}

.Cards2 {
    background-image: url(media/gdr2.png);
}

.Cards3 {
    background-image: url(media/videogiochi.png);
}

.Cards4 {
    background-image: url(media/gite.png);
    background-position: top;
}

.Cards5 {
    background-image: url(media/fiere.png);
}

.TitoloCards {
    font-size: 1.5em;
    text-shadow: 2px 2px black;
}

.ArticoloCarte {
    color: whitesmoke;
    font-size: 1em;
    text-shadow: 2px 2px black;
    /* background-color: rgba(0, 0, 0, 0.35); */
    margin-bottom: 20px;
    padding: 5px;
}

/* form */
.SezioneForm {
    height: 110vh;
    background-image: url(media/form.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
}

.TitoloForm {
    font-size: 2em;
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 2px black;
}

form {
    width: 90%;
    max-width: 600px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.35);
    margin: 0 auto;
    box-shadow: 5px 5px blue;
    padding: 20px;
}

.Nome {
    font-size: 1em;
    font-weight: 600;
    color: whitesmoke;
    text-shadow: 2px 2px black;
    margin-bottom: 5px;
}

.contenitoreinput {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.contenitorebutton {
    display: flex;
    justify-content: center;
}


.btn {
    width: 100%;
    max-width: 200px;
    height: 40px;
    font-weight: bold;
    font-size: large;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    background-color: aliceblue;
    box-shadow: 2px 2px blue;
}

/* footer */
footer {
    background-color: rgba(127, 193, 255, 0.705);
    min-height: auto;
    color: black;
    font-size: 0.8em;
    border-top: 10px solid rgba(0, 0, 255, 0.61);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: start;
}

.listadiritti {
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
    padding-right: 10px;
}

.listadiritti li {
    margin-left: 20px;
}

/* Media Queries */



@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
        font-size: smaller;
        max-height: 21vh;
    }


    .social {
        justify-content: space-around;
    }

    .pagine{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .pagine li{
        padding-left: 10px;
    }

    .TitoloHeader {
        font-size: 1.5em;
    }

    .SottotitoloHeader {
        font-size: 1em;
    }

    .cardisplay {
        flex-direction: column;
        align-items: center;
    }

    .titolocardsection {
        font-size: 1.5em;
    }

    article[class^="Cards"] {
        min-height: 40vh;
        max-width: 60%;
    }

    .sfumatura{
        min-height: 40vh;
    }

    form {
        margin-left: 0px;
    }

    .btn {
        width: 100%;
    }

}

@media screen and (max-width: 370px) {
    nav{
        max-height: 30vh;
    }

    .pagine li{
        padding-left: 2px;
    }

    footer{
        max-height: 40vh;
    }

    .listadiritti{
        flex-direction: column;
    }
    }
