*{    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}
/* nav */
nav {
    background-color: rgba(127, 193, 255, 0.705);
    max-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 5px;
    border-bottom: 5px solid black;
    position: sticky;
    top: 0px;
}


.logocontainer {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.logo {
    height: 60px;
    box-shadow: 2px 2px whitesmoke;
    border-radius: 50%;
}

.social {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
}

.navbaricons {
    height: 10vh;
}

/* Header */

header {
    height: 100vh;
    background-image: url(media/header.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.headercard {
    width: 90%;
    max-width: 600px;
    height: 20vh;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.35);
    border: 2px solid black;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.imaginami {
    max-height: 18vh;
    border-radius: 50px;
    margin-right: 50px;
    box-shadow: 1px 1px rgba(107, 98, 98, 0.418);
}

.TitoloHeader {
    color: navy;
    font-size: 2em;
    text-shadow: 2px 2px rgb(3, 3, 212);
}

.SottotitoloHeader {
    color: darkgreen;
    font-size: 1.5em;
    text-shadow: 2px 2px rgb(1, 58, 1);
}

/* cards */
.Cardsection {
    padding: 20px 10px;
    border-top: 20px solid black;
    border-bottom: 20px solid black;
    background-color: white;
}

.cardisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;

}

.titolocardsection {
    font-size: 2em;
    text-align: center;
}

.Cards1,.Cards2,.Cards3,.Cards4,.Cards5{
    color: whitesmoke;
    background-position: center;
    background-size: cover;
    border: 3px solid black;
    border-radius: 0px 20px 30px 50px;
    margin: 10px;
    box-shadow: 2px 2px blue;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    word-wrap: break-word;
    display: inline-block;
    width: 100%;
    flex: 1 1 25%; /* Le prime tre carte occupano ciascuna il 30% della larghezza del contenitore */
    max-width: 25%; /* Limita la larghezza massima al 30% del contenitore */
    flex-wrap: wrap;
}
.Cards1 {
       background-image: url(media/gdt2.png);
}

.Cards2 {
        background-image: url(media/gdr2.png);
}

.Cards3 {
        background-image: url(media/videogiochi.png);
}

.Cards4 {
      background-image: url(media/gite.png);
}

.Cards5 {
       background-image: url(media/fiere.png);
}

.TitoloCards {
    font-size: 1.5em;
    text-shadow: 2px 2px black;
}

.ArticoloCarte {
    color: whitesmoke;
    font-size: 1em;
    text-shadow: 2px 2px black;
    background-color: rgba(0, 0, 0, 0.35);
    margin-bottom: 20px;
    padding: 5px;
}

/* form */
.SezioneForm {
    height: 110vh;
    background-image: url(media/form.png);
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
}

.TitoloForm {
    font-size: 2em;
    text-align: center;
    color: whitesmoke;
    text-shadow: 2px 2px black;
}

form {
    width: 90%;
    max-width: 600px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.35);
    margin: 0 auto;
    box-shadow: 5px 5px blue;
    padding: 20px;
}

.Nome {
    font-size: 1em;
    font-weight: 600;
    color: whitesmoke;
    text-shadow: 2px 2px black;
    margin-bottom: 5px;
}

.contenitoreinput {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.contenitorebutton {
    display: flex;
    justify-content: center;
}

.btn {
    width: 100%;
    max-width: 200px;
    height: 40px;
    font-weight: bold;
    font-size: large;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    background-color: aliceblue;
    box-shadow: 2px 2px blue;
}

/* footer */
footer {
    background-color: rgba(127, 193, 255, 0.705);
    min-height: 60px;
    color: black;
    font-size: 0.8em;
    border-top: 10px solid rgba(0, 0, 255, 0.61);
    padding: 10px;
}

.footerlinks {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
}

.footerlinks li {
    margin: 0px 10px;
}

.Copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.CopyrightLink {
    margin-top: 5px;
}

.listadiritti {
max-height: 10vh;
display: flex;
}

.diritti {
    margin-left: 20px;
}

/* Media Queries */
@media screen and (max-width: 600px) {
.navbar {
    justify-content: flex-start;
    flex-direction: row;
}

.navbaricons {
    max-height: 40px;
}
    .TitoloHeader {
        font-size: 1.5em;
    }

    .SottotitoloHeader {
        font-size: 1em;
    }

    .cardisplay {
        flex-direction: column;
        align-items: center;
    }

    .titolocardsection {
        font-size: 1.5em;
    }

    article[class^="Cards"] {
        max-width: 90%;
    }

    form {
        margin-left: 0px;
    }

    .btn {
        width: 100%;
    }

    nav {
        flex-direction: column;
    }

    .logocontainer {
        margin: 0px;
    }

    .social {
        width: 100%;
        justify-content: space-around;
        margin-top: 10px;
    }
}